body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 40px;
}


/* Footer CSS */
.company,
.support,
.account {
  text-decoration: none;
  color: #666;
  font-weight: 550;
}



.flink {
  margin: 10px;
  margin-left: 40px;
  text-decoration: none;
  color: #666;
  font-weight: 550;
}

.company:hover,
.support:hover,
.account:hover,
.flink:hover {
  color: #387ed1;
}


.icon {
  margin: 17px;
  font-size: 25px;
}

a {
  text-decoration: none;
}

#supportHero {
  background-color: #0d6efd;
  color: white;
}

#supportHero a {
  color: white;
  margin-left: 25px;

}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 115px;
  margin-right: 205px;
}

#supportHero input {
  padding: 18px 100px;
  width: 95%;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

.border-box:hover {
  border: 1px solid #387ed1;
}


.box-h2 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.box-para {
  margin-left: 20px;
}

.border-box {
  border: 1px solid lightgray;
  border-radius: 10px;
  line-height: 1.8;
  margin: 40px;
  margin-left: 50px;
  padding-top: 25px;
}

.progress {
  background-color: lightgray;
  border-radius: 5px;
  height: .8px;
  width: 87%;
  margin-inline: 120px;
  position: relative;
  overflow: visible;
}

.progress-bar {
  position: absolute;
  top: -0.6px;
  left: 0;
  height: 4px;
  width: 8%;
  background-color: #387ed1;
  transition: width 0.5s ease;
}

.progress-bar:hover {
  width: 12%;
}

.Faq-h4 {
  margin-top: 38px;
  line-height: .5;
  font-weight: 600;
  font-size: 22px;
  margin-inline: 120px;
  margin-bottom: 25px;
}